body{
	background-color:black;
}

h1 {
	font-size:14px;
	text-align:center;
}

h1 pre{
	color: #66ff8d;
	font-size: 1.2vw;
    display: block;
    text-align: left;
    max-width: 100%;
    margin: 0 auto;
   	animation: glow-shadow 4s infinite alternate;
}

.title {
	position: absolute;
	top:50%;
	left: 50%;
	transform:translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes glow-shadow{
	0%{
		text-shadow:none;
	}
	95%{
		text-shadow:none;
	}
	98%{
		text-shadow: 1px 1px #19ec1996, 1px -1px #0cee0c80, -1px -1px #01c3017a, -1px 1px #1cc71c61;
	}
}